<a href="https://colab.research.google.com/github/Gcango/Analise_Exploratoria_Descrit_pnad/blob/main/Pnad_dataExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Foi analisados,explorados e descritos os dados da BD da Pesquisa Nacional por Amostra de Domicílios afecto ao Brasil.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dados = pd.read_csv("https://raw.githubusercontent.com/neylsoncrepalde/introducao_ao_r/master/dados/pes_2012.csv")

In [6]:
dados.sample(10)

,V0101,UF,V0302,V8005,V0404,V4803,V4718,V4720,V4729
202078,2012,Espírito Santo,Masculino,25,Parda,3 anos,NaN,0,522
43981,2012,Pará,Masculino,18,Parda,6 anos,100,100,494
329233,2012,Mato Grosso do Sul,Feminino,4,Branca,Sem instrução e menos de 1 ano,NaN,NaN,418
356774,2012,Distrito Federal,Feminino,47,Preta,6 anos,720,720,290
302677,2012,Rio Grande do Sul,Masculino,63,Branca,3 anos,NaN,2132,663
319141,2012,Rio Grande do Sul,Feminino,56,Branca,9 anos,50,50,228
120388,2012,Pernambuco,Masculino,82,Branca,3 anos,NaN,622,259
116167,2012,Pernambuco,Masculino,3,Branca,Sem instrução e menos de 1 ano,NaN,NaN,259
205511,2012,Rio de Janeiro,Masculino,15,Parda,2 anos,NaN,0,609
45544,2012,Pará,Feminino,0,Parda,Sem instrução e menos de 1 ano,NaN,NaN,494

##Perguntas inicias: Estados cadastrados, Generos Femnino e Masculinos, Total de casos.

In [10]:
print(f"Este dataset possui {dados.shape[0]} linhas e {dados.shape[1]} colunas ")

Este dataset possui 362451 linhas e 9 colunas

In [8]:
dados.columns

Index(['V0101', 'UF', 'V0302', 'V8005', 'V0404', 'V4803', 'V4718', 'V4720',
       'V4729'],
      dtype='object')

In [13]:
estados = dados['UF'].unique()
print(f"Os estados cadastrados nesta BD são: \n{estados}")

Os estados cadastrados nesta BD são:
['Rondônia' 'Acre' 'Amazonas' 'Roraima' 'Pará' 'Amapá' 'Tocantins'
 'Maranhão' 'Piauí' 'Ceará' 'Rio Grande do Norte' 'Paraíba' 'Pernambuco'
 'Alagoas' 'Sergipe' 'Bahia' 'Minas Gerais' 'Espírito Santo'
 'Rio de Janeiro' 'São Paulo' 'Paraná' 'Santa Catarina'
 'Rio Grande do Sul' 'Mato Grosso do Sul' 'Mato Grosso' 'Goiás'
 'Distrito Federal']

In [20]:
genero = dados['V0302'].value_counts()
print(f"Os generos neste dataset estão assim dividido: \nFeminino -> {genero[0]} \nMasculino -> {genero[1]} ")

Os generos neste dataset estão assim dividido:
Feminino -> 186054
Masculino -> 176397

In [20]:
#convertendo o Genero em percentagm

In [24]:
perct = dados['V0302'].value_counts()/dados.shape[0]

In [25]:
print(f"Os generos neste dataset estão assim dividido: \nFeminino -> {perct[0]} \nMasculino -> {perct[1]} ")

Os generos neste dataset estão assim dividido:
Feminino -> 0.5133218007399621
Masculino -> 0.4866781992600379

In [ ]:
#Distribuição por raça presente na BD

In [28]:
dados['V0404'].value_counts()

Parda             173733
Branca            155595
Preta              30120
Amarela             1550
Indígena            1435
Sem declaração        18
Name: V0404, dtype: int64